:root {
  --trybegreen: #2bc28d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgb(32, 32, 32);
  font-family: 'Kanit', sans-serif;
}

header img {
  height: 80px;
  margin-right: 10px;
}

h1 {
  font-family: 'Kanit', sans-serif;
}

header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  position: fixed;
  height: 180px;
  width: 100%;
  top: 0;
  background-color: rgb(102, 102, 102);
}

#logo-header {
  display: flex;
  align-items: center;
  border: 5px solid green;
}

#search {
  color: rgb(15, 20, 25);
}

#filter {
  list-style: none;
  display: flex;
  margin-bottom: 5px;
}

#filter a {
  text-decoration: none;
  margin-right: 10px;
  color: white;
}

#best-offers {
  scroll-margin-top: 180px;
}

#input-container {
  display: flex;
  flex-flow: row wrap;
}

#input-container input {
  width: 300px;
  margin-right: 10px;
  border-radius: 10px;
}

#input-container button {
  background-color: var(--trybegreen);
}

h2 {
  margin-top: 180px;
  text-align: center;
}

#games-container {
  display: flex;
  overflow-x: scroll;
  border: 5px solid red;
}

.game-column {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
  margin: 10px 20px;
  border: 5px solid blue;
  min-width: 200px;
}

.div-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 5px solid purple; */
}

.sale-price {
  margin: 0;
}

.price {
  text-decoration: line-through;
  margin: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 237px;
  background-color: rgb(92, 92, 92);
  margin: 5px 0;
  min-height: 200px;
  height: fit-content;
  /* border: 5px solid green; */
}

.store-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.store-logo {
  width: 50px;
  margin-left: 5px;
}

.store-name {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} 